<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Education page for Internet Explorer users</title>
		
		<link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-21865291-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		
	</head>
	
	<body>
		<div id="wrapper">
			<h2>Why move off Internet Explorer?</h2>
			
			<p>Dear Internet Explorer user,</p>
			
			<p>Why you should care? Because you are unnecessarily <b>limiting yourself</b> and also limiting others. Let me explain.</p>
			
			<p>There are many <b>advanced features</b> in modern browsers, that you, users, can benefit from. They provide for websites that can be <b>nicer, faster, easier to use and with broader functionality</b> (e.g., some allow for real time updates of a web page, others for browsing history without reloading whole page, easier file uploads, and many many more). These are also easier and faster to develop for us, developers. Unfortunately, most websites simply <b>cannot use these advanced features</b>, because the site would not work in Internet Explorer and would be useless for many users.</p>
			
			<p>This is the only page on this website, that works well in Internet Explorer. The <a href="/#ie">rest of the site</a> uses many of those advanced features mentioned. You can try browsing it with Internet Explorer and you will see <b>how broken it is</b>. If you want more detailed information, please visit sites like <a href="http://html5demos.com">html5demos.com</a> or <a href="http://caniuse.com">caniuse.com</a>.</p>
			
			<p>The usual argumentation why Internet Explorer does not support the advanced features is that they are not standardized yet. That is true, but any feature that is adopted by all major browsers becomes a de-facto standard and there is little reason to wait for some kind of official approval. Web technologies develop very fast, and such approach would be quite inefficient.</p>
			
			<p>So here is <b>my plea</b>: if you use Internet Explorer and you don't absolutely have to (e.g. because you have pre-installed software on your company computer and you are not allowed to install any new software), please <b>install a modern browser</b> like <a href="http://www.google.com/chrome">Chrome</a>, <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.mozilla.com/">Firefox</a> or <a href="http://www.opera.com/browser/download/">Opera</a>. And <b>tell your friends</b> to do the same. You will <b>help yourself</b> to better websites and help developers deliver them to you.</p>
			
			<p>Thank you very much</p>
			
			<p><a href="http://www.josefrichter.com">Josef Richter</a>, web designer and developer</p>
			
		</div><!-- #wrapper -->
		
	</body>
	
</html>
